@charset "utf-8";

/* CSS Document */
body,
ul,
ol,
dl,
li,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

img {
    border: none
}

input,
button,
textarea,
select {
    font-size: 100%;
    border: none;
}

ul,
ol {
    list-style: none;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a:link,
a:visited {
    color: #5e5e5e;
    text-decoration: none;
}

a:hover {
    /*color:#999;*/
}

a:hover {
    color: #c9394a;
    /*text-decoration: underline;*/
}

a:active {
    color: #666;
}

/*浮动和清除浮动*/
html,
body,
#app {
    width: 100%;
    height: 100%;
}

.iconfont {
    font-size: 13px;
}

* {
    outline: none;
    font-family: 'opposans';
}